<div class="home">
  <header>
    <nav>
      <div class="title">
        <i class="fa-solid fa-feather-pointed"></i>
        Dear<span>Diary</span>
      </div>
      <ul>
        <li>About</li>
        <li>Features</li>
        <li>Blog</li>
        <li>Reviews</li>
        <li>Support</li>
        <li><%= link_to "Sign up", new_user_registration_path, class: "sign-up" %></li>
      </ul>
    </nav>
  </header>
  <main>
    <div class="img">
      <%= image_tag "write.png" %>
    </div>
    <div class="text">
      <div class="slogan">
        Just you and your thoughts.
      </div>
      <div class="texts">
        Keep a record of your life, celebrate your successes, talk about your challenges, and learn more about the person you are.
      </div>
      <div>
        <%= link_to "Log in and start writing!", new_user_session_path, class: "btn" %>
      </div>
    </div>
  </main>
</div>