.forgot-password {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  
    header {
      nav {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        width: 100%;
        background-color: #d8c3a5;
        padding: 0 50px;
  
        .title {
          font-size: 25px;
          color: #8e8d8a;
          font-weight: 500;
  
          .fa-solid {
            font-size: 22px;
          }
  
          span {
            font-weight: 600;
            color: #5e5e5d;
          }
        }
  
        ul {
          display: inline-flex;
          list-style-type: none;
          align-items: center;
  
          li:not(:nth-child(6)) {
            margin-left: 50px;
          }
  
          .home {
            text-decoration: none;
            background-color: #5e5e5d;
            border-radius: 10px;
            color: #eae7dc;
            font-weight: 400;
            margin-left: 30px;
            font-size: 15px;
            height: 40px;
            width: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
  
            &:hover {
              color: #5e5e5d;
              background-color: #eae7dc;
            }
          }
        }
      }
    }
  
    main {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 90vh;
      margin: auto 100px auto 70px;
  
      img {
        width: 800px;
        padding-right: 20px;
        transform: rotate(-15deg);
      }
  
      .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #d8c3a5;
        height: 450px;
        width: 500px;
        border-radius: 10px;
        margin-right: 50px;
        justify-content: center;
        text-align: center;
        padding-top: 20px;
  
        #error_explanation {
          width: 100%;
          text-align: left;
          padding-left: 5px;
          margin-bottom: 10px;
          font-size: 14px;
          color: rgb(180, 70, 70);
        }
  
        #user_email,
        #user_password,
        #user_password_confirmation {
          width: 400px;
          height: 50px;
          border: none;
          outline: none;
          margin-bottom: 15px;
          border-radius: 10px;
          padding: 0 20px;
          font-size: 16px;
          color: #5e5e5d;
  
          &::placeholder {
            color: #8e8d8a;
          }
  
          &:focus::placeholder {
            color: transparent;
          }
        }
  
        #user_remember_me {
          accent-color: #5e5e5d;
          cursor: pointer;
        }
  
        input[type='submit'] {
          width: 350px;
          height: 50px;
          border: none;
          background-color: #5e5e5d;
          color: #eae7dc;
          border-radius: 10px;
          margin: 15px 0 30px 0;
          font-weight: 500;
          cursor: pointer;
          font-size: 16px;
  
          &:hover {
            background-color: white;
            color: #5e5e5d;
          }
        }
  
        a {
          text-decoration: none;
          color: #5e5e5d;
          font-size: 14px;
  
          &:hover {
            text-decoration: underline;
          }
        }
  
        .label {
          color: #5e5e5d;
          font-size: 14px;
          font-family: 'Poppins', sans-serif;
          margin-left: 5px;
          cursor: pointer;
        }
        .field {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
  